<!DOCTYPE html>
<html>
  <head>
    <title>BinarApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= link_to 'Log in with Gmail',
      user_google_oauth2_omniauth_authorize_path %>
    <%= yield %>
  </body>
</html>
